/* --- Base Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: black;
    color: white;
    padding-top: 75px;
}

.cursor-dot,
.trail-dot {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #00ffcc;
  box-shadow: 0px 0px 10px 3px white;
}

.trail-dot {
  width: 10px;
  height: 10px;
  background-color: #00ffcc;
  opacity: 0.2;
  transition: width 0.3s, height 0.3s;
  box-shadow: 0px 0px 5px 1px white;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.lazy-section {
    opacity: 0;
    transition: opacity 2s ease;
}
.lazy-section.loaded {
    opacity: 1;
}

.container {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(43, 4, 82, 0.422);
}

#name {
    color: white;
    margin-left: 50px;
    text-shadow: 0.5px 0.5px 0.5px white;
}

.container .right {
    width: 50%;
    padding: 10px;
    margin: auto;
}

.right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.container ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
    position: relative;
    padding-bottom: 5px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.container ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 0%;
    background-color: rgb(158, 129, 244);
    transition: width 0.3s ease;
}

.container ul li a:hover::after {
    width: 100%;
}

.container ul li a:hover {
    color: rgb(255, 123, 0);
}

.container ul li a.active-link {
    text-shadow: 0px 0px 3px white;
    font-size: 15px;
    font-weight: 600;
}

/* --- Home Section --- */
#Home {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
}

#Home .left {
    color: azure;
    width: 40%;
    height: 90%;
    font-size: 2.5rem;
    margin-top: 100px;
    margin-left: 50px;
    padding: 10px;
}

#Home .right {
    color: azure;
    background-image: url(images/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px 70px 0px 0px;
    width: 30%;
    height: 70%;
}

.container .play {
    margin-left: 100px;
    margin-right: 30px;
}

.container .play button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.container .play button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(100, 100, 255, 0.6);
    background: linear-gradient(to right, #2575fc, #6a11cb);
}

/* --- About Section --- */
#About {
    padding: 10px 0px;
    color: #ababab;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
}

.about-col-2 {
    padding: 10px;
    margin-right: 25px;
    flex-basis: 60%;
}

.sub {
    font-size: 45px;
    font-weight: 600;
    color: rgb(233, 232, 232);
    margin-bottom: 10px;
}

.tab-title {
    display: flex;
    margin: 20px 0 30px;
}

.tab-links {
    margin-right: 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(255, 123, 0);
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 60%;
}

.tab-contents ul li {
    list-style: none;
    margin: 5px 0px;
    font-size: 14px;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 11px;
}

.tab-contents {
    min-height: 250px;
    display: none;
}

.tab-contents.active-tab {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* --- Services Section --- */
#Services {
    padding: 25px 25px;
    margin: 10px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.services-list div {
    background-color: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 10px;
    transition: all 0.5s;
}
.services-list div i {
    font-size: 40px;
    margin-bottom: 20px;
}
.services-list div h2 {
    color: transparent;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, rgb(159, 254, 164), rgb(248, 245, 245), rgba(237, 75, 75, 0.5));
    background-clip: text;
}
.services-list div a {
    text-decoration: none;
    color: #d7d6fe;
    font-size: 12px;
    margin-top: 5px;
    display: inline-block;
}
.services-list div:hover {
    background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
    transform: scale(1.03);
}

/* --- My Work Section --- */
.mywork {
    padding: 40px 30px;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-gap: 40px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    display: block;
    transition: all 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.work:hover img {
    transform: scale(1.05);
}
.work:hover .layer {
    height: 100%;
    opacity: 1;
    pointer-events: auto;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(247, 4, 4);
    border-radius: 7px;
    text-decoration: none;
    color: white;
    padding: 14px 40px;
    transition: all 0.5s;
}
.btn:hover {
    background-color: #ff004f;
}

/* --- Contact Section --- */
.contact {
    padding: 60px 30px;
    background: black;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.con-box {
    max-width: 1100px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.contact-left {
    margin-left: 50px;
    flex-basis: 45%;
    padding: 30px;
    border-radius: 15px;
}
.contact-right {
    flex-basis: 45%;
    background: #111;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 0, 79, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 0.8s ease forwards;
    opacity: 0;
}
.contact-right:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(231, 106, 145, 0.5);
}
.contact-left h1 {
    margin-bottom: 20px;
    color: #efdfe4;
}
.contact-left p {
    margin: 10px 0;
    color: #ccc;
    font-size: 16px;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    text-decoration: none;
    font-size: 22px;
    margin-right: 15px;
    color: #fff;
    transition: all 0.5s;
}
.social-icons a:hover i {
    color: #ff004f;
    transform: translateY(-2px);
}
.contact-right form {
    display: flex;
    flex-direction: column;
}
.contact-right input,
.contact-right textarea {
    background: #222;
    border: 1px solid #444;
    color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s, background 0.3s;
}
.contact-right input:focus,
.contact-right textarea:focus {
    border-color: #cde1ca;
    background: #1a1a1a;
}
.contact-right textarea {
    resize: none;
    height: 120px;
}
.contact-right button {
    padding: 15px;
    background: #ff004f;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 2s ease, transform 2s ease;
    margin-top: 10px;
}
.contact-right button:active {
    background-color: #000000;
    transform: scale(1.3);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.btn.btn2 {
    display: inline-block;
    background-color: #ff004f;
    font-size: 12px;
}
.btn.btn2:hover {
    background-color: #fa3b78;
}
#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
    text-align: center;
}
/* --- Responsive Styles --- */
@media screen and (max-width: 768px) {
    .play {
        display: none;
    }
    .container {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .right {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 10px;
        padding: 10px;
        z-index: 999;
    }
    .right.active {
        display: block;
    }
    .right ul {
        flex-direction: column;
        gap: 10px;
    }
    .hamburger {
        display: block !important;
        font-size: 24px;
        color: white;
        cursor: pointer;
    }
    #Home {
        justify-content: center;
        height: 30vh;
    }
    #Home .left {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
        margin-top: 10px;
        margin-left: 0px;
        padding: 1px;
    }
    #Home .right {
        display: none;
    }
    #About {
        color: #ababab;
    }
    .about-col-1 img {
        width: 100%;
        height: 300px;
    }
    .about-col-2 {
        padding: 10px;
        margin-right: 10px;
        flex-basis: 60%;
    }
    .about-col-2 p{
        font-size: 9px !important;
    }
    .sub {
        font-size: 28px;
        margin-bottom: 7px;
    }
    .tab-title {
        display: flex;
        margin: 10px 0 20px;
    }
    .tab-links {
        margin-right: 25px;
        font-size: 10px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }
    .tab-contents ul li {
        list-style: none;
        margin: 3px 0px;
        font-size: 9px;
    }
    .tab-contents ul li span {
        color: #b54769;
        font-size: 8px;
    }
    .tab-contents {
        min-height: 150px;
        display: none;
    }
    #Services {
        padding: 15px 15px;
        margin: 7px;
    }
    .services-list {
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        grid-gap: 20px;
        margin-top: 20px;
    }
    .services-list div {
        padding: 20px;
        font-size: 8px;
        font-weight: 400;
    }
    .services-list div i {
        font-size: 26px;
        margin-bottom: 14px;
    }
    .services-list div h2 {
        font-size: 16px;
    }
    .services-list div a {
        font-size: 9px;
    }
    .mywork {
        padding: 20px 15px;
    }
    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        grid-gap: 25px;
    }
    .work img {
        height: 250px;
    }
    .layer {
        padding: 0 20px;
        font-size: 7px;
    }
    .layer h3 {
        font-weight: 500;
        margin-bottom: 12px;
    }
    .layer a {
        font-size: 10px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .work:hover img {
        transform: scale(1.02);
    }
    .mywork .btn{
        font-size: 12px;
    }
    .work:hover .layer {
        height: 100%;
        opacity: 1;
        pointer-events: auto;
    }
    .btn {
        margin: 35px auto;
        border-radius: 7px;
        text-decoration: none;
        color: white;
        padding: 10px 25px;
        transition: all 0.5s;
    }
    .contact {
        padding: 45px 20px;
    }
    .con-box {
        max-width: 900px;
    }
    .row {
        justify-content: center;
    }
    .contact-left {
        margin-left: 10px;
        flex-basis: 55%;
        padding: 20px;
        border-radius: 15px;
    }
    .contact-right {
        flex-basis: 45%;
        background: #111;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(255, 0, 79, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .contact-left p {
        margin: 10px 0;
        color: #ccc;
        font-size: 8px;
    }
    .contact-left .sub-title {
        font-size: 20px !important;
        margin-bottom: 10px;
    }
    .social-icons a {
        font-size: 18px;
    }
    .contact-right input,
    .contact-right textarea {
        padding: 15px;
        margin: 15px 0;
        font-size: 12px;
    }
    .contact-right button {
        padding: 12px;
        font-size: 12px;
        margin-top: 8px;
    }
    .btn.btn2 {
        font-size: 12px;
    }
}

/* --- Hamburger --- */
.hamburger {
    display: none;
}
/* Disable cursor dots on touch devices */
@media (pointer: coarse) {
  .cursor-dot,
  .trail-dot,
  .cursor-outline {
    display: none !important;
  }
}
